body {
    background-color: greenyellow;
}

h1 {
    color: blue;
    display: flex;
    align-items: flex-start;
}
section {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: rgb(2, 2, 2);
    position: absolute;
    top: 50%;
}

button:hover {
      background-color:#f10915;
      transition: 0.1s;
  }