body {
    background-color: greenyellow;
}

h1 {
    color: blue;
}
section {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: hotpink;
    position: absolute;
    top: 50%;
}

button:hover {
      background-color:#002ead;
      transition: 0.1s;
  }