body {
    background-color: greenyellow;
}

h1 {
    color: blue;
    display: flex;
    align-items: flex-start;
}
section {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background-color: #f10915;
}

button {
    color: rgb(2, 2, 2);
    position: absolute;
    top: 50%;
}

button:hover {
      background-color:#09a7f1;
      transition: 0.1s;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(26, 11, 245);
    color: rgb(250, 181, 6);
  }